body{
	font-family: 'Cabin', sans-serif;
	background-color: /*#b75b80;*/ #c2cdda;
}

h1{
	font-family: 'Cinzel', serif;
	text-decoration: underline;
}
h2{
	font-family: 'Cinzel', serif;
	
}
h3{
	
	font-family: 'Cinzel', serif;
}
h4{
	
	font-family: 'Cinzel', serif;
}
h5{
	font-family: 'Cinzel', serif;
	
}
h6{
	font-family: 'Cinzel', serif;
	
}

.text-bolder{
	font-weight: bolder;
}

.image-rounded{
	
	  border-radius: 10%;
}


/*font-family: 'Cabin', sans-serif;
	font-family: 'Cinzel', serif;
font-family: 'Island Moments', cursive;*/
